<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Register</title>
		<link rel="stylesheet" type="text/css" href="{{static_url('css/normalize.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{static_url('css/demo1.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{static_url('css/component.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{static_url('css/cs-select.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{static_url('css/cs-skin-boxes.css')}}" />
		<script src="{{static_url('js/modernizr.custom.js')}}"></script>
	</head>
	<body>
		<div class="container">
			{% if message == "exists" %}
				<p style="text-align:center">An account already exists with that email id. <a href="/login">Log In</a></p>
			{% else %}
				{% if message == "error" %}
					<p style="text-align:center">Please Complete the form!</p>
				{% end %}
			{% end %}
			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Register</h1>
					<p>Already have an account?<a href="/login" style="color:white;text-decoration:underline"> Log In</a></p>
					<p>Go <a href="/" style="color:white;text-decoration:underline">Home</a></p>
				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off" method="POST">
					{% raw xsrf_form_html() %}
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
							<input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Your Name" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your email address?</label>
							<input class="fs-anim-lower" id="q2" name="q2" type="email" placeholder="example@gmail.com" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q3">Password</label>
							<input class="fs-anim-lower" id="q3" name="q3" type="password" required/>
						</li>
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Register</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

			

		</div><!-- /container -->
		<script src="{{static_url('js/classie.js')}}"></script>
		<script src="{{static_url('js/selectFx.js')}}"></script>
		<script src="{{static_url('js/fullscreenForm.js')}}"></script>
		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelector('span.cs-placeholder').style.backgroundColor = val;
						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );
			})();
		</script>
	</body>
</html>